<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <script src="https://cdn.tailwindcss.com"></script>
    <title>Home</title>
  </head>
  <body>
    <%- include ("layouts/nav") %>

    <div class="container w-11/12 flex mx-auto justify-center flex-col ">
      <div class="flex justify-between items-center mb-8">
        <h1 class="font-bold text-2xl">Daftar Siswa</h1>
        <a
          class="bg-yellow-600 px-4 py-2 font-bold text-white"
          href="/siswa/add"
          >Add Siswa</a
        >
      </div>

      <div class="mb-4">
        <% if (msg == "Siswa Added"|| msg == "Siswa Deleted" || msg == "Siswa Updated") { %>
        <div
          class="bg-green-100 border border-green-400 text-green-700 px-4 py-3 rounded relative"
        >
          <span class="block sm:inline"><%= msg %></span>
        </div>
        <% } else {%>
        <div></div>
        <% } %>
      </div>

      <div class="overflow-x-auto w-screen">

        <table class="text-sm">
          <tr class="border border-black border-b-2">
            <th class="border border-white p-2">No</th>
            <th class="border border-white p-2">Nama</th>
            <th class="border border-white p-2">JK</th>
            <th class="border border-white p-2">NISN</th>
            <th class="border border-white p-2">NIK</th>
            <th class="border border-white p-2">No.KK</th>
            <th class="border border-white p-2">Tingkat Kelas Saat ini</th>
            <th class="border border-white p-2">Rombel</th>
            <th class="border border-white p-2">Tgl Masuk</th>
            <th class="border border-white p-2">Terdaftar Sebagai</th>
            <th class="border border-white p-2">Tempat Lahir</th>
            <th class="border border-white p-2">Aksi</th>
          </tr>
          
          <% siswa.forEach((siswa,i) => { %>
            <tr class="border border-b-2">
              <th class="border border-white p-2"><%= i + 1 %></th>
              <th class="border border-white p-2"><%= siswa.nama %></th>
              <th class="border border-white p-2"><%= siswa.jk %></th>
              <th class="border border-white p-2"><%= siswa.nisn %></th>
              <th class="border border-white p-2"><%= siswa.nik %></th>
              <th class="border border-white p-2"><%= siswa.nokk %></th>
              <th class="border border-white p-2"><%= siswa.tingkat %></th>
              <th class="border border-white p-2"><%= siswa.rombel %></th>
              <th class="border border-white p-2"><%= siswa.tgl_masuk.toISOString().split("T")[0] %></th>
              <th class="border border-white p-2"><%= siswa.terdaftar %> </th>
              <th class="border border-white p-2"><%= siswa.ttl %></th>
              
              <th class="border border-white p-2 flex items-center gap-4">
                <a
                href="/siswa/edit/<%= siswa._id %>"
                type="submit"
              class="bg-green-500 text-white py-1 rounded-full px-5"
              >
              edit
            </a>
            <form action="/siswa/<%= siswa._id %>?_method=DELETE" method="POST">
              <button
              type="submit"
              onclick="return confirm('apakah anda yakin?')"
              class="bg-red-500 text-white py-1 rounded-full px-5"
              >
              hapus
            </button>
          </form>
        </th>
      </tr>
      
      <% }); %>
      </table>
    </div>
    </div>
  </body>
</html>
